
/* For All Screen Widths */

/* Global Body Styles */

@import url("https://fonts.googleapis.com/css?family=Open+Sans") screen, print, projection;
@import url("https://fonts.googleapis.com/css?family=Anton") screen, print, projection;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed") screen, print, projection;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap') screen, print, projection;

body {
    margin: auto;
    font-family: 'Open Sans',Arial;
    font-size: 15px;
    color: #333;
    background: white;
}
P {
    padding: 0px 10px;
    margin: 0px;
}
IMG {
    border: none;
}
A {
    text-decoration: none;
    color: #512698;
}
A:focus {
    outline: none;
}
A:hover {
    color: #63449b;
    border: none;
}

.Container {
    width: 100%;
    margin: 0px;
    padding: 0px;
    float: left;
}
.Content {
    padding: 0px;
    margin: 0px auto;
}
UL {
    list-style: none;
    margin: 0px auto;
    padding: 0px;
}

/* Title Section Styles */

#TitleContainer {
    background: #512698;
}
#Person {
    display: block;
    font-family: 'Anton';
}
#TitleContent A {
    color: rgba(255,204,46);
}
#TitleContent A:hover {
    color: rgba(255,224,66,.85);
}


/* Area Nav Section Styles */

#AreaContainer {
    font-family: 'Roboto';
    background: rgb(255, 200, 46);
    font-weight: bold;
}
#AreaContent LI {
    text-align: center;
    text-transform: uppercase;
}
#AreaContent A:hover {
    background: rgba(255,255,255,0.15);
}
#AreaContent A.chosen {
    background: rgba(255,255,255,0.30);
}


/* Main Section Styles */

#MainContainer {
    width: 100%;
    float: left;
    /* background: rgb(255,204,46);
    background: linear-gradient(180deg, rgba(255,204,46,.35) 0px, rgba(255,255,255,1) 100px); */
}
#MainContent {
    padding: 20px 0px;
    margin: auto;
}
#MainContent .icon IMG {
    padding: 2px;
    background: #e8e8e8;
    border: 1px solid #512698;
    border-radius: 4px;    
}
#MainContent H1 {
    font-family: 'Roboto',Arial;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    color: #512698;
}
#MainContent H2 {
    font-family: 'Roboto Condensed',Arial;
    font-size: 22px; 
    font-weight: bold;
    clear: both;
    color: #512698;
    box-shadow: 0px -10px 1px -10px #512698;
}
#MainContent H3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    padding: 0px ;
    margin: 15px 0px 10px 20px;
}

DIV.hide {
    text-align: right;
    margin: 0px 10px 10px 0px;
}
DIV.hide A {
    border-bottom: 1px #512698 dashed;
}
DIV.hide A:hover {
    border-bottom: 1px #63449b solid;	
}
DIV.hidden {
    display: none;
}
DIV.hidden P {
    margin-left: 20px;
}
UL.references {
    margin: 15px 10px 10px 0px;
}
UL.references LI {
    padding: 0px 0px 5px 0px;
    margin-left: 40px;
    text-indent: -10px;
}
UL.references A {
    color: #512698; 
}
UL.references A:hover {
    color: #63449b;
}
UL.references A.download {
    border-bottom: 1px #512698 dashed;
}
UL.references A:hover.download {
    border-bottom: 1px #63449b solid;
}

/* Footer Section Styles */

#FooterContainer {
    background: #512698;
    color: #ddd;
    border-top: 1px solid #2a1f2f;    
}
#FooterContent {
    min-height: 90px;
    padding: 20px 10px;
}
#FooterContent IMG#map {
    height: 90px;
}
#FooterContent UL#address {
    font-size: 16px;
    width: 260x;
}
#FooterContent #address A {
    color: #fff;
}
#FooterContent #address A:hover {
    color: #ffc82e;
}

#FooterContent LI {
    list-style: none;
}
#FooterContent UL#info {
    width: 260px;
}
#FooterContent #info LI {
    padding: 0px;
    width: 100%;
    text-align: center;
    float: left;
    font-size: 22px; 
    color:#eee;  
    font-weight: bold; 
}

#FooterContent UL#social {
    width: 260px;
}
#FooterContent #social LI {
    text-align: center;
    float: left;
    width: 19.25%;
    padding: 0px;
    font-size: 22px;
}

#FooterContent #social i {
    color: #ddd;
    height: 1em;
    width: 1em;
    border-radius: 8px;
}
#FooterContent #social i:hover {
    color: #fff;
    background: #ffc82e;
}
