
/* For Wider Screen Widths */

/* Global Changes */

.Content {max-width: 1050px;}

/* Title Section Changes */

#TitleContainer {height: 70px;}
#Person {font-size: 32px; padding: 10px 10px; }
#MenuButton {display: none;}

/* Nav Section Changes */

#AreaContainer {border-bottom: 1px solid #ccc;}
#AreaContent LI {float: left; padding: 0px 10px;}
#AreaContent A {width: 100%; display: block; font-size: 20px; padding: 10px 10px;}

/* Main Section Changes */

#MainContent H1 {padding: 10px 10px 0px 10px; margin: 0px 0px 0px 0px;}
#MainContent H2 {padding: 25px 10px 5px 10px; margin: 25px 0px 15px 0px;}

#MainContent .post::before {content: ''; float: right; display: block; width: 250px; min-height: 175px; margin: 0px 15px 45px 45px;}
#MainContent .post {position: relative;}

#MainContent .post p {max-width: 750px;}
#MainContent .post ul {max-width: 750px;}
#MainContent .hide {max-width: 750px;}

#MainContent .icon {position: absolute; top: 0; right: 0; }
#MainContent .icon IMG {width: 250px; margin: 0px 15px 25px 25px;}

.Media {margin: 0px 4px; }
.navigate {display: none;}

/* Footer Section Changes */

#FooterContent UL#address {float: left; margin: 0px auto; padding: 0px 10px;}
#FooterContent UL#social {clear: right; float: right; margin: 0px auto; padding: 0px 10px 30px 10px;}
