
/* For Wider Screen Widths */

/* Global Changes */

.Content {max-width: 1050px;}

/* Title Section Changes */

#TitleContainer {height: 70px;}
#Person {font-size: 32px; padding: 10px 10px; }

#MenuButton {vertical-align: middle; display: block; float: right; height: 28px; width: 30px; padding: 15px 7px; margin: 0px 0px 0px 10px;}
#MenuButton:hover {background: rgba(160,160,230,.2);}
#MenuButton {display: none;}

/* Nav Section Changes */

#AreaContainer {border-bottom: 1px solid #ccc;}
#AreaContent LI {float: left; padding: 0px 10px; }
#AreaContent A {width: 100%; display: block; font-size: 18px; padding: 6px 10px;}

/* Main Section Changes */

#MainContent .post:before {content: ''; float: right; display: block; width: 250px; height: 175px; margin: 0px 15px 45px 45px;}
#MainContent .post {position: relative;}

#MainContent .icon {position: absolute; top: 0; right: 0;  }
#MainContent .icon IMG {width: 250px; height: 175px; margin: 0px 15px 25px 25px;}

.Media {margin: 0px 4px; }
.navigate {display: none;}

/* Footer Section Changes */

#FooterContent #logo {float: left;}
#FooterContent IMG#seal {display: none;}
#FooterContent IMG#map {margin: 0px 10px;}
#FooterContent UL#address {float: left; margin: 0px; padding: 0px;}
#FooterContent UL#info {clear: right; float: right; margin: 5px 0px; margin: 5px 15px 5px 25px;}
#FooterContent UL#social {clear: right; float: right; margin: 5px 0px; margin: 5px 15px 5px 25px;}
